:root{
 --bg:#080808;
 --card:#141414;
 --orange:#ff5a0a;
 --orange2:#ff8a3d;
 --text:#ffffff;
 --muted:#aaa;
}

*{
 box-sizing:border-box;
}

body{
 margin:0;
 background:#000;
 color:var(--text);
 font-family:Inter,Arial,sans-serif;
}

.app{
 max-width:500px;
 min-height:100vh;
 margin:auto;
 background:linear-gradient(#080808,#111);
 padding-bottom:80px;
}


.header{
 height:70px;
 display:flex;
 align-items:center;
 gap:12px;
 padding:10px 16px;
 position:sticky;
 top:0;
 z-index:5;
 background:#080808ee;
 border-bottom:1px solid #222;
}


.logo{
 width:52px;
 height:52px;
 object-fit:contain;
 border-radius:12px;
}


.brand strong{
 display:block;
 font-size:16px;
}

.brand span{
 color:var(--muted);
 font-size:12px;
}



.page{
 display:none;
}

.page.active{
 display:block;
}


.hero{
 padding:35px 18px 20px;
}


.hero h1{
 font-size:42px;
 line-height:1;
 letter-spacing:-2px;
 margin:0 0 18px;
}


.hero h1 span{
 color:var(--orange);
}


.hero p{
 color:#ddd;
 line-height:1.5;
 font-size:16px;
}



.btn{
 width:100%;
 padding:16px;
 border-radius:14px;
 border:none;
 margin:7px 0;
 font-size:15px;
 font-weight:700;
 cursor:pointer;
}


.primary{
 background:linear-gradient(90deg,var(--orange),var(--orange2));
 color:#111;
}


.dark{
 background:#171717;
 color:white;
 border:1px solid #333;
}



.info-card{
 margin:16px;
 padding:18px;
 background:var(--card);
 border-radius:18px;
 border:1px solid #292929;
}


.info-card h3{
 margin-top:0;
}


.info-card p{
 color:#ddd;
 line-height:1.5;
}


.section{
 padding:18px;
}


.section h2{
 font-size:28px;
 margin-top:5px;
}



.about-image img{
 width:100%;
 border-radius:18px;
 margin-bottom:16px;
}



.features{
 display:grid;
 grid-template-columns:1fr 1fr;
 gap:10px;
}


.feature{
 background:#141414;
 border:1px solid #292929;
 border-radius:16px;
 padding:15px;
}


.feature div{
 font-size:30px;
}


.feature b{
 display:block;
 margin:8px 0;
}


.feature p{
 color:#ccc;
 font-size:13px;
 line-height:1.4;
}